<?xml version="1.0" encoding="UTF-8"?>
 
<configuration debug="true" scan="true"
	scanPeriod="30 seconds">
	<property name="LOG_PATH" value="logs" />
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
    <timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss"/> 

	<appender name="writeToConsole"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="writeToFile"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/logfile-${timestamp-by-second}.log</file>
		<encoder>
			<pattern>%msg%n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<logger name="com.testbean" level="debug" additivity="false">
		<appender-ref ref="writeToFile" />
	</logger>

	<root level="error">
		<appender-ref ref="writeToFile" />
	</root>

</configuration>
